:root {
  --vh: 1vh;
  --100vh: 100svh;
  --100vw: 100vw;
  --window-width: 100vw;
  --px: calc(var(--window-width) / 1280);
  --fz: 1;
  --px2: calc(var(--window-width) / 1280);
}

@media screen and (max-width: 960px) {
  :root {
    --px: calc(var(--window-width) / 390);
    --px2: calc(var(--window-width) / 390);
  }
}
html {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  font-size: 62.5%;
  text-size-adjust: 100%;
  font-weight: 700;
  font-family: "Noto Serif JP", serif;
  letter-spacing: 0.02em;
  color: #f96c90;
}

body {
  position: relative;
  overflow-x: hidden;
}

.fadeUp {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s opacity ease-in-out, 0.5s transform ease-in-out;
}
.fadeUp.is-inview {
  opacity: 1;
  transform: translateY(0);
}

.fade {
  --delay: 0;
  opacity: 0;
  transition: 0.5s opacity ease-in-out, 0.5s transform ease-in-out;
  transition-delay: calc(var(--delay) * 1s);
}
.fade.is-inview {
  opacity: 1;
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 960px) {
  .u-pc {
    display: none !important;
  }
}

.u-sp {
  display: none !important;
}
@media screen and (max-width: 960px) {
  .u-sp {
    display: block !important;
  }
}

/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
* 3. Remove gray overlay on links for iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
* Prevent vertical alignment issues.
*/
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
* Reset form fields to make them styleable.
* 1. Make form elements stylable across systems iOS especially.
* 2. Inherit text-transform from parent.
*/
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
* Correct cursors for clickable elements.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
* Improve outlines for Firefox and unify style with input elements & buttons.
*/
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
* Remove padding
*/
option {
  padding: 0;
}

/**
* Reset to invisible
*/
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* Correct the outline style in Safari.
*/
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Fix font inheritance.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
* Fix appearance for Firefox
*/
[type=number] {
  -moz-appearance: textfield;
}

/**
* Clickable labels
*/
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/*
* Remove outline for editable content.
*/
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}.c-picture {
  display: inline-block;
  width: calc(var(--width) * var(--px2));
  max-width: 100%;
  aspect-ratio: var(--width)/var(--height);
}
@media screen and (max-width: 960px) {
  .c-picture {
    width: calc(var(--width-sp) * var(--px2));
    aspect-ratio: var(--width-sp)/var(--height-sp);
  }
}
.c-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}.footer {
  height: calc(488 * var(--px2));
  position: relative;
}

.footer-copy {
  position: absolute;
  top: calc(73 * var(--px2));
  text-align: center;
}

.footer-logo {
  position: absolute;
  top: calc(181 * var(--px2));
  left: calc(46 * var(--px2));
}

.footer-copy__1 {
  display: inline-block;
  font-size: calc(25 * var(--px2));
  padding-bottom: calc(8 * var(--px2));
  background-image: url(/lp2/assets/dot.svg);
  background-size: calc(6 * var(--px2)) calc(4 * var(--px2));
  background-repeat: repeat-x;
  background-position: left bottom;
  -webkit-text-stroke: calc(6 * var(--px2)) #fff;
  text-stroke: calc(6 * var(--px2)) #fff;
  paint-order: stroke;
}
.footer-copy__1:not(:first-child) {
  margin-top: calc(10 * var(--px2));
}

.footer-img1 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer-img1 .c-picture {
  width: 100%;
}.pcContent {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(755 * var(--px));
}
.pcContent ._logo {
  position: absolute;
  left: calc(151 * var(--px));
  top: calc(40 * var(--px));
}
.pcContent ._main {
  position: absolute;
  bottom: 0;
  left: 0;
}
.pcContent ._content {
  position: absolute;
  bottom: calc(20 * var(--px));
  left: calc(80 * var(--px));
  background-color: rgba(249, 108, 144, 0.2);
  border: 4px solid rgba(255, 255, 255, 0.7);
  border-radius: calc(15 * var(--px));
  width: calc(545 * var(--px));
  padding: calc(36 * var(--px)) calc(31 * var(--px)) calc(31 * var(--px));
}
.pcContent ._inner {
  padding: calc(25 * var(--px)) 0 calc(25 * var(--px));
  background-color: #fff;
  border-radius: calc(10 * var(--px));
}
.pcContent ._text {
  text-align: center;
  font-size: calc(28 * var(--px));
  line-height: 1.3;
}
.pcContent ._note {
  margin-top: calc(10 * var(--px));
  text-align: center;
  font-size: calc(17 * var(--px));
}
.pcContent ._btn {
  width: calc(275 * var(--px));
  margin: calc(26 * var(--px)) auto 0;
}.l-all {
  position: relative;
}
.l-all::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(/lp2/assets/pc-bg.png);
  background-size: cover;
  z-index: -1;
}

.l-layout {
  overflow: hidden;
  position: relative;
  margin-top: calc(80 * var(--px));
  margin-left: auto;
  margin-right: calc(80 * var(--px));
  width: calc(445 * var(--px2));
  background: url(/lp2/assets/bg.png);
  background-size: calc(724 * var(--px2)) calc(555 * var(--px2));
}
@media screen and (max-width: 960px) {
  .l-layout {
    margin-top: 0;
    width: calc(390 * var(--px2));
    margin-right: 0;
  }
}
.l-layout .bable {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
}
.l-layout .bable .c-picture {
  width: 100%;
}.kv {
  position: relative;
  height: calc(750 * var(--px2));
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .kv {
    height: calc(646 * var(--px2));
  }
}

.kv-copy {
  position: absolute;
  top: calc(55 * var(--px2));
  text-align: center;
}
@media screen and (max-width: 960px) {
  .kv-copy {
    top: calc(30 * var(--px2));
  }
}

.kv-copy__1 {
  display: inline-block;
  font-size: calc(28 * var(--px2));
  padding-bottom: calc(8 * var(--px2));
  background-image: url(/lp2/assets/dot.svg);
  background-size: calc(6 * var(--px2)) calc(4 * var(--px2));
  background-repeat: repeat-x;
  background-position: left bottom;
  -webkit-text-stroke: calc(6 * var(--px2)) #fff;
  text-stroke: calc(6 * var(--px2)) #fff;
  paint-order: stroke;
}
.kv-copy__1:not(:first-child) {
  margin-top: calc(13 * var(--px2));
}
@media screen and (max-width: 960px) {
  .kv-copy__1:not(:first-child) {
    margin-top: calc(10 * var(--px2));
  }
}
@media screen and (max-width: 960px) {
  .kv-copy__1 {
    font-size: calc(25 * var(--px2));
  }
}

.kv-logo {
  position: absolute;
  top: calc(177 * var(--px2));
  left: calc(30 * var(--px2));
}
@media screen and (max-width: 960px) {
  .kv-logo {
    top: calc(138 * var(--px2));
    left: calc(26 * var(--px2));
  }
}

.kv-title {
  position: absolute;
  top: calc(564 * var(--px2));
  left: calc(18 * var(--px2));
}
@media screen and (max-width: 960px) {
  .kv-title {
    top: calc(478 * var(--px2));
    left: calc(16 * var(--px2));
  }
}

.kv-title__1 {
  display: inline-block;
  font-size: calc(23 * var(--px2));
  background-color: #fff;
  border-radius: calc(6 * var(--px2));
  padding: calc(7 * var(--px2)) calc(8 * var(--px2));
}
@media screen and (max-width: 960px) {
  .kv-title__1 {
    font-size: calc(20 * var(--px2));
    padding: calc(6 * var(--px2)) calc(8 * var(--px2));
  }
}

.kv-title__2 {
  display: inline-block;
  color: #fff;
  font-size: calc(23 * var(--px2));
  background-color: #F96C90;
  border-radius: calc(6 * var(--px2));
  padding: calc(7 * var(--px2)) calc(14 * var(--px2)) calc(7 * var(--px2)) 0;
}
@media screen and (max-width: 960px) {
  .kv-title__2 {
    font-size: calc(20 * var(--px2));
    padding: calc(6 * var(--px2)) calc(14 * var(--px2)) calc(6 * var(--px2)) 0;
  }
}

.kv-scroll {
  position: absolute;
  left: 50%;
  bottom: calc(23 * var(--px2));
  transform: translateX(-50%);
  font-size: calc(15 * var(--px2));
  -webkit-text-stroke: calc(6 * var(--px2)) #fff;
  text-stroke: calc(6 * var(--px2)) #fff;
  paint-order: stroke;
  text-align: center;
}
.kv-scroll ._text {
  display: block;
}
.kv-scroll ._icon {
  margin-top: calc(4 * var(--px2));
  display: block;
  text-align: center;
}

.kv-img1 {
  position: absolute;
  top: calc(544 * var(--px2));
  left: calc(251 * var(--px2));
}
@media screen and (max-width: 960px) {
  .kv-img1 {
    top: calc(461 * var(--px2));
    left: calc(225 * var(--px2));
  }
}

.kv-img2 {
  position: absolute;
  top: calc(377 * var(--px2));
  left: 0;
  right: 0;
}
@media screen and (max-width: 960px) {
  .kv-img2 {
    top: calc(313 * var(--px2));
  }
}.sec-open {
  margin-top: calc(125 * var(--px2));
  padding: 0 calc(15 * var(--px2));
}

.sec-open__date {
  font-size: calc(29 * var(--px2));
  -webkit-text-stroke: calc(6 * var(--px2)) #fff;
  text-stroke: calc(6 * var(--px2)) #fff;
  paint-order: stroke;
  text-align: center;
}

.sec-open__label {
  margin-top: calc(4 * var(--px2));
  font-size: calc(45 * var(--px2));
  -webkit-text-stroke: calc(6 * var(--px2)) #fff;
  text-stroke: calc(6 * var(--px2)) #fff;
  paint-order: stroke;
  text-align: center;
}

.sec-open__content {
  margin-top: calc(42 * var(--px2));
  padding: calc(38 * var(--px2)) calc(10 * var(--px2)) calc(37 * var(--px2)) calc(10 * var(--px2));
  background-color: #fff;
  border-radius: calc(15 * var(--px2));
  border: 4px solid rgba(249, 108, 144, 0.3);
}

.sec-open__copy {
  font-size: calc(30 * var(--px2));
  text-align: center;
}

.sec-open__copy--emphasis {
  margin-top: calc(8 * var(--px2));
  margin-right: calc(10 * var(--px2));
  display: inline-block;
  padding: calc(4 * var(--px2)) calc(12 * var(--px2));
  font-size: calc(30 * var(--px2));
  text-align: center;
  background-color: #F96C90;
  border-radius: calc(10 * var(--px2));
  color: #fff;
}

.sec-open__slider {
  margin-top: calc(30 * var(--px2));
  overflow: hidden;
  position: relative;
  width: calc(445 * var(--px2));
  margin-left: calc(-28 * var(--px2));
}
@media screen and (max-width: 960px) {
  .sec-open__slider {
    width: calc(390 * var(--px2));
  }
}

.sec-open__sliderTrack {
  display: flex;
  gap: calc(10 * var(--px2));
  animation: slide 30s linear infinite;
}
.sec-open__sliderTrack:hover {
  animation-play-state: paused;
}

.sec-open__sliderItem {
  flex-shrink: 0;
  width: calc(1080 * var(--px2));
}
.sec-open__sliderItem .c-picture {
  max-width: none;
}

@keyframes slide {
  0% {
    transform: translateX(calc(-1090 * var(--px2)));
  }
  100% {
    transform: translateX(calc(-2180 * var(--px2)));
  }
}
.sec-open__info {
  margin-top: calc(18 * var(--px2));
  font-size: calc(30 * var(--px2));
  text-align: center;
  line-height: 150%;
}

.sec-open__info--emphasis {
  padding-bottom: calc(0 * var(--px2));
  background-image: url(/lp2/assets/dot.svg);
  background-size: calc(6 * var(--px2)) calc(4 * var(--px2));
  background-repeat: repeat-x;
  background-position: left bottom;
}.c-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(10 * var(--px2));
}
.c-heading.colorPink .c-heading__title {
  color: #E5587B;
  -webkit-text-stroke: calc(6 * var(--px2)) #fff;
  text-stroke: calc(6 * var(--px2)) #fff;
}
.c-heading.colorPink .c-heading__label {
  background-color: #E5587B;
  color: #fff;
}

.c-heading__title {
  display: block;
  font-size: calc(41 * var(--px2));
  color: #fff;
  -webkit-text-stroke: calc(6 * var(--px2)) #E5587B;
  text-stroke: calc(6 * var(--px2)) #E5587B;
  paint-order: stroke;
  text-align: center;
}

.c-heading__label {
  padding: 0 calc(10 * var(--px2));
  display: inline-flex;
  align-items: center;
  height: calc(24 * var(--px2));
  font-size: calc(16 * var(--px2));
  background-color: #fff;
  color: #E5587B;
  border-radius: calc(999 * var(--px2));
  line-height: 1;
}.sec-special {
  margin-top: calc(80 * var(--px2));
  padding: 0 calc(15 * var(--px2));
}

.sec-special__inner {
  padding: calc(25 * var(--px2)) calc(21 * var(--px2)) calc(21 * var(--px2));
  background-color: #F96C90;
  border-radius: calc(15 * var(--px2));
  border: 4px solid rgba(255, 255, 255, 0.2);
}

.sec-special__content {
  margin-top: calc(19 * var(--px2));
  padding: calc(30 * var(--px2)) calc(17 * var(--px2)) calc(25 * var(--px2));
  border-radius: calc(10 * var(--px2));
  background-color: #fff;
}

.sec-special__text {
  font-size: calc(23 * var(--px2));
  text-align: center;
}

.sec-special__note {
  margin-top: calc(14 * var(--px2));
  font-size: calc(15 * var(--px2));
  text-align: center;
}

.sec-special__action {
  margin-top: calc(28 * var(--px2));
}

.c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(6 * var(--px));
  height: calc(59 * var(--px2));
  font-size: calc(16 * var(--px2));
  color: #fff;
  background-color: #F96C90;
  border-radius: calc(999 * var(--px2));
  border: 3px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s opacity;
}
.c-btn:hover {
  opacity: 0.7;
}.sec-hours {
  margin-top: calc(69 * var(--px2));
  padding: 0 calc(15 * var(--px2));
}

.sec-hours__content {
  margin-top: calc(34 * var(--px2));
  border-radius: calc(15 * var(--px2));
}
.sec-hours__content .c-picture {
  width: 100%;
}.sec-bg {
  margin-top: calc(81 * var(--px2));
  padding-top: calc(69 * var(--px2));
  padding-bottom: calc(80 * var(--px2));
  background-color: #F96C90;
}

.sec-menu {
  padding: 0 calc(15 * var(--px2));
}

.sec-menu__label {
  margin-top: calc(40 * var(--px2));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 calc(13 * var(--px2));
  font-size: calc(32 * var(--px2));
  color: #fff;
  -webkit-text-stroke: calc(6 * var(--px2)) #E5587B;
  text-stroke: calc(6 * var(--px2)) #E5587B;
  paint-order: stroke;
  text-align: center;
}
.sec-menu__label.--2 {
  margin-top: calc(51 * var(--px2));
}
.sec-menu__label.--3 {
  margin-top: calc(51 * var(--px2));
}
.sec-menu__label ._icon {
  font-size: 0;
  display: block;
}

.sec-menu__content {
  margin-top: calc(27 * var(--px2));
  border-radius: calc(15 * var(--px2));
}
.sec-menu__content .c-picture {
  width: 100%;
}.sec-access {
  margin-top: calc(69 * var(--px2));
  padding: 0 calc(15 * var(--px2));
}

.sec-access__content {
  margin-top: calc(34 * var(--px2));
  padding: calc(10 * var(--px2)) calc(25 * var(--px2)) calc(5 * var(--px2));
  background-color: #fff;
  border-radius: calc(15 * var(--px2));
}

.sec-access__label {
  display: inline-block;
  padding: calc(6 * var(--px2)) calc(16 * var(--px2));
  font-size: calc(18 * var(--px2));
  background-color: rgba(249, 108, 144, 0.1);
  border-radius: calc(999 * var(--px2));
}

.sec-access__item {
  padding: calc(20 * var(--px2)) 0;
}

.sec-access__address {
  font-size: calc(23 * var(--px2));
  line-height: 1.4;
  text-decoration: underline;
}

.sec-access__itemContent {
  margin-top: calc(12 * var(--px2));
}

.sec-access__station {
  padding-left: calc(12 * var(--px2));
  display: flex;
  justify-content: space-between;
  position: relative;
}
.sec-access__station:not(:first-child) {
  margin-top: calc(12 * var(--px2));
}
.sec-access__station::after {
  content: "";
  position: absolute;
  top: calc(11 * var(--px));
  left: 0;
  width: calc(5 * var(--px));
  height: calc(5 * var(--px));
  background-color: #F96C90;
  border-radius: 50%;
}
@media screen and (max-width: 960px) {
  .sec-access__station::after {
    width: calc(4 * var(--px));
    height: calc(4 * var(--px));
  }
}

.sec-access__stationName {
  font-size: calc(23 * var(--px2));
}

.sec-access__stationTime {
  font-size: calc(23 * var(--px2));
}.sec-sns {
  padding: 0 calc(15 * var(--px2));
}

.sec-sns__content {
  margin-top: calc(33 * var(--px2));
  display: flex;
  justify-content: space-between;
  gap: calc(10 * var(--px));
}
.sec-sns__content a {
  transition: 0.3s opacity;
}
.sec-sns__content a:hover {
  opacity: 0.7;
}
.sec-sns__content .c-picture {
  width: 100%;
}