---
import Title from "../title.astro"
import Picture from "../Picture.astro"
---
<div class="sec-bg">
  <section class="sec-sns">
    <div class="js-inview fadeUp">
      <Title title="Instagram" label="インスタグラム" />
      <div class="sec-sns__content">
        <a href="https://www.instagram.com/churun_concafe?igsh=MXA2eXRtaDBlc29iZw%3D%3D&utm_source=qr" target="_blank">
          <Picture src="/assets/images/top/sns-1.png" width={175} height={214} alt="『chu♡るん』" />
        </a>
        <a href="https://www.instagram.com/ama_shuwa_concafe/" target="_blank">
          <Picture src="/assets/images/top/sns-2.png" width={175} height={214} alt="『Ama♡しゅわ』" />
        </a>
      </div>
    </div>
  </section>
</div>


<style is:global lang="scss">
  @use '../../styles/functions' as *;
  @use '../../styles/mixins' as *;

  .sec-sns {
    padding: 0 px2(15);
  }

  .sec-sns__content {
    margin-top: px2(33);
    display: flex;
    justify-content: space-between;
    gap: px(10);

    a {
      transition: 0.3s opacity;

      &:hover {
        opacity: 0.7;
      }
    }


    .c-picture {
      width: 100%;
    }
  }
</style>