.fadeUp {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s opacity ease-in-out, 0.5s transform ease-in-out;

  &.is-inview {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade {
  --delay: 0;

  opacity: 0;
  transition: 0.5s opacity ease-in-out, 0.5s transform ease-in-out;
  transition-delay: calc(var(--delay) * 1s);

  &.is-inview {
    opacity: 1;
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
